<h1>Edit Article</h1>

<div class='buttons-container'>
  <%= link_to 'All articles', root_path, class: 'link-button' %>
  <%= link_to 'Cancel', @article, class: 'link-button' %>
</div>

<%= render 'form', article: @article %>